# MOD 2 PROJECT - ANALYSIS OF RAIN'S EFFECT ON TEAM PERFORMANCE

In [13]:
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup as BS
import numpy as np
import json
from statistics import mode
from scipy import stats
import requests
import json
def get_keys(path):
    with open(path) as f:
        return json.load(f)
import matplotlib.style as style

In [14]:
connection = sqlite3.connect("database.sqlite")

cur = connection.cursor()

In [15]:
cur.execute("""SELECT *
                FROM Teams_in_Matches
                JOIN Unique_Teams
                USING (Unique_Team_ID)
                JOIN Matches
                USING (Match_ID)
                WHERE Season == '2011' AND Div != 'E0'
                ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
2,1093,1,Bayern Munich,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
3,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
4,1094,1,Bayern Munich,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
...,...,...,...,...,...,...,...,...,...,...,...
1219,1701,25,Fortuna Dusseldorf,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D
1220,1702,25,Fortuna Dusseldorf,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D
1221,1702,34,Aachen,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D
1222,1703,25,Fortuna Dusseldorf,D2,2011,2011-09-16,Erzgebirge Aue,Fortuna Dusseldorf,2,4,A
1223,1703,39,Erzgebirge Aue,D2,2011,2011-09-16,Erzgebirge Aue,Fortuna Dusseldorf,2,4,A

In [16]:
date = df['Date'].unique()
date = pd.Series(date)
teams = df['TeamName'].unique()
teams = list(teams)
lat = 52.5065133
long = 13.1445703
weather = []
for i in date:
    time = i
    keys = get_keys('/Users/nielsclausen/.secret/DARKSKYAPI.json')
    api_key = keys['api_key']
    url = 'https://api.darksky.net/forecast/{}/{},{},{}T16:00:00'.format(api_key,lat,long,time)
    response = requests.get(url)
    weather.append(response.json()['daily']['data'][0].get('icon', 'clear'))
    
weather = pd.Series(weather)
date_weather = pd.concat([date, weather], axis = 1)

In [17]:
date_weather.columns = ['Date', 'Weather']
print(date_weather['Weather'].unique())

['rain' 'partly-cloudy-day' 'wind' 'clear' 'clear-day']

In [18]:
for i, row in df.iterrows():
    if row.TeamName == row.AwayTeam:
        # Away
        if row.FTR == 'A':
            df.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            df.loc[i,'Result'] = "D"
        else:
            df.loc[i,'Result'] = "L"
    else:
        # Home
        if row.FTR == 'H':
            df.loc[i,'Result'] = "W"
        elif row.FTR == 'D':
            df.loc[i,'Result'] = "D"
        else:
            df.loc[i,'Result'] = "L"

In [19]:
df_weather = df
df_weather = pd.merge(df_weather, date_weather)
df_weather = df_weather.set_index('Weather')
df_weather = df_weather.drop(['partly-cloudy-day', 'wind', 'clear', 'clear-day'])
# df_weather

In [20]:
df['goals'] = np.where(df['TeamName'] == df ['HomeTeam'], df['FTHG'], df['FTAG'])
df_pivot = df.pivot(index="TeamName", columns="Date", values='goals')
df_goals = df_pivot.aggregate(sum, axis=1)
# df_goals

In [21]:
df_weather = df_weather.reset_index()
df_weather['wins'] = np.where(df_weather['Result'] == 'W', 1, 0)
df_weather_pivot = df_weather.pivot(index="TeamName", columns="Match_ID", values='wins')
df_rain_result = df_weather_pivot.aggregate(sum, axis=1)
# df_rain_result

In [22]:
df_weather

,Weather,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Result,wins
0,rain,1092,1,Bayern Munich,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,W,1
1,rain,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,L,0
2,rain,1189,8,FC Koln,D1,2011,2012-03-31,Augsburg,FC Koln,2,1,H,L,0
3,rain,1189,15,Augsburg,D1,2011,2012-03-31,Augsburg,FC Koln,2,1,H,W,1
4,rain,1206,3,Leverkusen,D1,2011,2012-03-31,Leverkusen,Freiburg,0,2,A,L,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,rain,1532,24,Greuther Furth,D2,2011,2011-12-12,Ein Frankfurt,Greuther Furth,0,0,D,D,0
416,rain,1544,25,Fortuna Dusseldorf,D2,2011,2012-02-27,Fortuna Dusseldorf,Aachen,0,0,D,D,0
417,rain,1544,34,Aachen,D2,2011,2012-02-27,Fortuna Dusseldorf,Aachen,0,0,D,D,0
418,rain,1701,14,Ein Frankfurt,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D,D,0
419,rain,1701,25,Fortuna Dusseldorf,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D,D,0

In [23]:
df['wins'] = np.where(df['Result'] == 'W', 1, 0)
df_pivot_wins = df.pivot(index="TeamName", columns="Match_ID", values='wins')
df_wins = df_pivot_wins.aggregate(sum, axis=1)
# df_wins

In [24]:
df['draws'] = np.where(df['Result'] == 'D', 1, 0)
df_pivot_draws = df.pivot(index="TeamName", columns="Match_ID", values='draws')
df_draws = df_pivot_draws.aggregate(sum, axis=1)
# df_draws

In [25]:
df['losses'] = np.where(df['Result'] == 'L', 1, 0)
df_pivot_losses = df.pivot(index="TeamName", columns="Match_ID", values='losses')
df_losses = df_pivot_losses.aggregate(sum, axis=1)
# df_losses

In [26]:
game_counts = pd.Series(df_weather['TeamName'])
game_count = game_counts.value_counts()
game_count = game_count.sort_index()
# game_count

In [27]:
result = pd.DataFrame()
result['Rainy Wins'] = df_rain_result
result['Wins'] = df_wins
result['Draws'] = df_draws
result['Losses'] = df_losses
result['Goals'] = df_goals
result['Games Played in Rain'] = game_count
result['Win Rate in Rain'] = (result['Rainy Wins']/result['Games Played in Rain'])*100
result['Win Rate in Rain'] = result['Win Rate in Rain'].round(1)
result

,Rainy Wins,Wins,Draws,Losses,Goals,Games Played in Rain,Win Rate in Rain
TeamName,,,,,,,
Aachen,3.0,6.0,13.0,15.0,30.0,13,23.1
Augsburg,4.0,8.0,14.0,12.0,36.0,11,36.4
Bayern Munich,8.0,23.0,4.0,7.0,77.0,11,72.7
Bochum,3.0,10.0,7.0,17.0,41.0,11,27.3
Braunschweig,4.0,10.0,15.0,9.0,37.0,9,44.4
Cottbus,3.0,8.0,11.0,15.0,30.0,10,30.0
Dortmund,6.0,25.0,6.0,3.0,80.0,10,60.0
Dresden,3.0,12.0,9.0,13.0,50.0,9,33.3
Duisburg,4.0,10.0,9.0,15.0,42.0,16,25.0
Ein Frankfurt,3.0,20.0,8.0,6.0,76.0,9,33.3
Erzgebirge Aue,1.0,8.0,11.0,15.0,31.0,11,9.1
FC Koln,4.0,8.0,6.0,20.0,39.0,13,30.8
Fortuna Dusseldorf,5.0,16.0,14.0,4.0,64.0,13,38.5
Frankfurt FSV,1.0,7.0,14.0,13.0,43.0,14,7.1
Freiburg,3.0,10.0,10.0,14.0,45.0,11,27.3
Greuther Furth,8.0,20.0,10.0,4.0,73.0,14,57.1
Hamburg,2.0,8.0,12.0,14.0,35.0,13,15.4
Hannover,5.0,12.0,12.0,10.0,41.0,12,41.7
Hansa Rostock,1.0,5.0,12.0,17.0,34.0,15,6.7
Hertha,3.0,7.0,10.0,17.0,38.0,10,30.0
Hoffenheim,2.0,10.0,11.0,13.0,41.0,10,20.0
Ingolstadt,2.0,8.0,13.0,13.0,43.0,14,14.3
Kaiserslautern,0.0,4.0,11.0,19.0,24.0,12,0.0
Karlsruhe,4.0,9.0,6.0,19.0,34.0,15,26.7
Leverkusen,6.0,15.0,9.0,10.0,52.0,14,42.9
M'gladbach,8.0,17.0,9.0,8.0,49.0,11,72.7
Mainz,2.0,9.0,12.0,13.0,47.0,10,20.0
Munich 1860,11.0,17.0,6.0,11.0,62.0,17,64.7
Nurnberg,5.0,12.0,6.0,16.0,38.0,9,55.6
Paderborn,6.0,17.0,10.0,7.0,51.0,12,50.0
Schalke 04,5.0,20.0,4.0,10.0,74.0,10,50.0
St Pauli,8.0,18.0,8.0,8.0,59.0,11,72.7
Stuttgart,3.0,15.0,8.0,11.0,63.0,7,42.9
Union Berlin,5.0,14.0,6.0,14.0,55.0,11,45.5
Werder Bremen,5.0,11.0,9.0,14.0,49.0,10,50.0
Wolfsburg,4.0,13.0,5.0,16.0,47.0,12,33.3

In [28]:
style.available
style.use('seaborn-poster') #sets the size of the charts
style.use('fivethirtyeight')
from matplotlib import pyplot as plt

win_lose_count_df = result.drop(['Rainy Wins', 'Goals', 'Games Played in Rain', 'Win Rate in Rain'], axis=1)
win_lose_count_df

ax = win_lose_count_df.plot.bar(stacked = 'True', figsize = (20,10))
ax.set_xlabel('Teams', fontsize = 20)
ax.set_ylabel('Games', fontsize = 20)
ax.grid(False)
ax.set_title('2011 Season German Team Performance', fontsize = 40)
ax.legend(loc='upper right', ncol=3, fancybox=True, bbox_to_anchor=(1, 1.02), shadow=True, fontsize = 20);